/* General Fixes */

#portlet_elementspage_WAR_elementspage10SNAPSHOT .portlet-content {
    padding-left: 0;
    padding-right: 0;
}

#vaadintopbar {
    min-height: 91px;
    background-color: transparent;
}

#vaadintopbar #topitems #topnav a.selected::after {
    color: #041a25;
    top: 36px;
}

.vaadin-theme #wrapper {
    margin-top: 0px;
}

#footer-wrapper {
    margin-top: 0;
}

.w-wallpaper-container.zebra .w-wallpaper {
    background-color: #f3f3f3;
}

.w-wallpaper-container.dark .w-wallpaper {
    background-color: #323232;
}

/* EO General Fixes */

/* Index Hero */

#vaadintopbar {
    min-height: 91px;
    background-color: transparent;
}

#vaadintopbar #topitems #topnav a.selected::after {
    color: #041a25;
    top: 36px;
}

.vaadin-theme #wrapper {
    margin-top: 0px;
}

.elements-hero .w-wallpaper {
    background: #1eb5ed url('../img/hero-bg.png?2') center top no-repeat;
}

.elements-hero-buttons .w-wallpaper {
    background-color: #323232;
}

.elements-hero {
    padding: 100px 0 2.5rem 0;
    color: #fff;
    text-align: center;
}

.elements-hero .elements-hero-title h1 {
    margin: 0px 0px 5px;
    color: #fff;
}

.elements-hero p.lead {
    font-size: 1.7rem;
    line-height: 1.5;
    margin: 1.5em auto;
    max-width: 30em;
}

.elements-hero-buttons .button {
    display: block;
    padding: 14px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #565656;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    margin: 1.6rem 0;
}

.elements-hero-buttons .button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.elements-hero-buttons .button:focus {
    text-decoration: none;
    color: #fff;
}

.elements-hero-buttons .primary {
    background-color: #40b527;
    color: #fff;
    border: 0;
    padding: 16px;
}

.elements-hero-buttons .primary:hover {
    background-color: #5dd742;
}

.polymer-tag.polymer-tag {
    color: #648A9D;
    display: block;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    background: #1e313b url('../img/p-logo.png') right center no-repeat;
    background-size: 32px;
    margin-bottom: 5px;
    text-decoration: none;
}

.elements-hero .elements-hero-title .polymer-tag {
    margin: 1.5rem 0;
}

.polymer-tag.polymer-tag:focus,
.polymer-tag.polymer-tag:active,
.polymer-tag.polymer-tag:hover {
    text-decoration: none;
    color: #7EA4B7;
}

.polymer-tag.polymer-tag-inline {
    display: inline-block;
    padding-right: 3.1em;
}

.polymer-tag.polymer-tag-white {
    background-color: #fff;
}

@media (max-width: 795px) {
    .elements-hero .w-wallpaper {
        background-size: 966px;
    }
}

@media (min-width: 796px) {
    .elements-hero {
        min-height: 450px;
    }
}

@media (max-width: 767px) {
    .elements-hero .w-wallpaper {
        background-size: 768px;
    }
}

@media (max-width: 522px) {
    .elements-hero p.lead {
        font-size: 1.4rem;
    }
}

/* EO Index Hero */

/* Index Listing */

.elements-category {
    padding: 3.3rem 0 20px;
}

.elements-category .row-fluid {
    border: 2px solid #e1e1e1;
    border-width: 2px 0;
}

.elements-category .span9 {
    padding: 20px 0;
}

.elements-category .span9 h5 {
    margin: 0 0 10px;
}

.elements-category .span9 h5 span {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #9b9b9b;
    letter-spacing: normal;
}

.elements-category .span3 {
    background-color: #f7f7f7;
    padding: 20px;
}

.elements-category.zebra .span3 {
    background-color: #f9f9f9;
}

.elements-category .span3 span {
    font-weight: bold;
    font-size: 20px;
    color: #00b4f0;
    text-transform: uppercase;
    display: block;
}

.elements-category .span3 a {
    margin-top: 35px;
}

.elements-category-tiles .tile {
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* box-shadow animated on hover by transition of opacity on ":after" pseudo-element */
.elements-category-tiles .tile:after {
    content: "";
    position: absolute;
    z-index: -1; /* make tile's inner link hoverable/clickable */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 24px -2px rgba(0, 0, 0, .36);
    -moz-box-shadow: 0 0 24px -2px rgba(0, 0, 0, .36);
    box-shadow: 0 0 24px -2px rgba(0, 0, 0, .36);
    opacity: 0;
    transition: all .25s;
}

.elements-category-tiles .tile:hover:after {
    opacity: 1;
}

.elements-category-tiles .tile img {
    width: 100%;
}

.elements-category-tiles .tile-details {
    text-align: center;
    background-color: #eaeaea;
    color: #464440;
    padding: 1rem;
    transition: all .25s;
}

.elements-category-tiles a:hover .tile-details,
.elements-category-tiles a:focus .tile-details {
    background-color: #323232;
    color: #fff;
}

.elements-category-tiles .tile-version {
    margin-bottom: .8em;
}

.elements-category-tiles .tile-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.elements-category-tiles .tile-title:first-child {
    margin-top: .5em;
}

.elements-category-tiles .tile-description {
    line-height: 1.2;
}

.elements-category-tiles.signup-form {
    margin-top: 3em;
    text-align: center;
}

.elements-category-tiles.signup-form h3 {
    font-size: 1.45rem;
}

.elements-category-tiles.signup-form .hbspt-form {
    padding: 0;
}

@media (min-width: 519px) {
    .elements-category-tiles .tile {
        float: left;
        min-height: 30px;
        margin-left: 2.76243%;
    }

    .elements-category-tiles .tile:first-child {
        margin-left: 0 !important;
    }

    .elements-category-core-tiles .tile-details {
        height: 10.8rem;
    }

    .elements-category-charts-tiles .tile-details {
        height: 10.5rem;
    }
}

@media (min-width: 519px) and (max-width: 767px) {
    .elements-category-tiles .tile {
        width: 48.61878%;
    }

    .elements-category-tiles .tile:nth-child(odd) {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .elements-category-tiles .tile {
        width: 31.49171%;
    }

    .elements-category-tiles .tile:nth-child(3n+1) {
        margin-left: 0;
    }
}

/* EO Index Listing */

/* Template Hero */

.elements-hero-mini .w-wallpaper {
    background: #1eb5ed url('../img/hero-bg.png?2') center top no-repeat;
    background-size: cover;
}

.elements-hero-mini {
    padding: 5.6rem 0 2.2rem 0;
    color: #fff;
}

.elements-hero-mini .polymer-tag {
    float: right;
}

.elements-hero-mini .elements-hero-title {
    border-bottom: 2px solid #b6edff;
}

.elements-hero-mini .elements-hero-title h5 {
    margin: 10px 0;
}

.elements-hero-mini .elements-hero-title h5 a {
    color: #fff;
}

.elements-hero-mini .elements-hero-title h5 a:hover,
.elements-hero-mini .elements-hero-title h5 a:focus {
    color: #fff;
    text-decoration: none;
}

.elements-hero-mini .elements-hero-title h5 a:after {
    content: "Back to listing";
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #b6edff;
    margin-left: 10px;
    opacity: 0;
    transition: 0.3s all;
}

.elements-hero-mini .elements-hero-title h5 a:hover:after {
    opacity: 1;
    transition: 0.3s all;
}

.elements-hero-mini h1 {
    margin: 10px 0 3rem 0;
    color: #fff;
}

.elements-hero-mini h1 span {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: normal;
}

.elements-hero-mini a {
    color: #b6edff;
}

.elements-hero-mini a.back-link {
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    .elements-hero-mini .elements-hero-title h5 {
        font-size: 20px;
        background: transparent url("../img/p-logo.png") no-repeat scroll right 6px;
        background-size: 32px auto;
    }
}

/* EO Template Hero */

/* Template Intro */

.elements-intro {
    padding: 3.8rem 0;
    color: #a9a9a9;
}

.elements-intro .w-wallpaper {
    background-color: #323232;
}

.elements-intro p.lead {
    font-size: 20px;
    margin-right: 1.5em;
}

.elements-intro h4 {
    margin-top: .4rem;
    color: #fff;
}

.elements-install {
    padding: 20px;
    background-color: #404040;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.elements-install code {
    white-space: normal;
    font-weight: bold;
}

.vaadin-theme a.w-button {
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    background: #fff;
    color: #0091c2;
    padding: .8em 2.2em;
    margin: .6rem 0;
    line-height: 1.2em;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all .3s;
}

.vaadin-theme a.w-button.blue {
    background: #00b4f0;
    color: #fff;
}

.vaadin-theme a.w-button.blue:hover,
.vaadin-theme a.w-button.blue:focus {
    background: #0fc3ff;
}

@media (min-width: 420px) and (max-width: 767px), (min-width: 970px) {
    .elements-intro a.w-button {
        float: left;
    }

    .elements-intro a.w-button.github {
        float: right;
    }
}

/* EO Template Intro */

/* Template Section */

.elements-section {
    padding: 3.7rem 0 3rem 0;
}

.elements-section h4 {
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e1e1e1;
}

.elements-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.elements-section ul li {
    margin-bottom: 1em;
    padding-left: 22px;

    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2064%2064%22%3E%3Cpath%20fill%3D%22%2300b4f0%22%20d%3D%22M29.2%2056.8L.8%2036l6.8-9.6%2019.2%2014%2026.4-34%209.2%207.2z%22%2F%3E%3C%2Fsvg%3E') no-repeat 0 3px;
    background-size: 14px;
}

.elements-section h5 {
    margin-top: 0;
    font-size: 18px;
}

.elements-section input,
.elements-section input[type='text'] {
    border: none !important;
    margin: 0;
    padding: 0;
}

.elements-section .label-and-input-container {
    line-height: 24px;
}

.elements-section .label-and-input-container label {
    line-height: 30px;
}

.elements-section .column-hiding-toggle.hidden {
    display: block;
    visibility: visible;
}

.charts-links {
    padding-top: 60px;
}

.charts-links a {
    margin-bottom: 12px;
}

.icons-site-hero {
    background: #00b4f0;
    color: #fff;
    text-align: center;
    padding: 2.8rem 0;
}

.icons-site-hero p {
    max-width: 16em;
    line-height: 1.8;
    margin: 0 auto .5em auto;
    font-size: 1.5rem;
}

.vaadin-theme a.w-button.icons-site-button {
    display: inline-block;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: .8em 3em;
    font-size: 1.2rem;
}

.vaadin-theme a.w-button.icons-site-button:hover,
.vaadin-theme a.w-button.icons-site-button:focus {
    background: #25c9ff;
}

/* EO Template Section */

/* Demo Footer */

.elements-demos {
    color: #fff;
    padding: 60px 0;
    margin-top: 60px;
}

.elements-demos .w-wallpaper {
    background-color: #041a25;
}

.elements-demos h2 {
    font-size: 48px;
    color: #fff;
}

.elements-demos h5 {
    margin-top: 0;
}

.elements-demos p.lead {
    font-size: 20px;
}

.elements-demos-demo {
    padding: 20px 0;
    border-top: 2px solid #194c66;
}

.elements-demos-demo .span4 div {
    padding: 20px 0 20px 20px;
}

.elements-demos-demo .w-arrow-button {
    margin: 10px 0;
}

.suggest-box {
    text-align: center;
    padding: 1.8rem 0 2.6rem 0;
}

@media (max-width: 767px) {
    .elements-demos-demo .span4 div {
        padding: 0;
    }
}

/* EO Demo Footer */

/* Hubspot form */

.hbspt-form {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}

.suggest-box .hbspt-form {
    padding: 0 0 2.5rem 0;
}

.hbspt-form input[type="text"],
.hbspt-form input[type="password"],
.hbspt-form input[type="email"],
.hbspt-form input[type="tel"],
.hbspt-form input[type="file"],
.hbspt-form input[type="submit"],
.hbspt-form input[type="button"],
.hbspt-form input[type="reset"],
.hbspt-form select,
.hbspt-form textarea,
.hbspt-form .textarea,
.hbspt-form button {
    background: #fff;
    border: 2px solid #ddd;
    color: #444;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    min-height: 40px;
    width: 100%;
    display: block;
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.hbspt-form input:focus,
.hbspt-form input:focus:invalid:focus {
    border: 2px solid #ccc;
    color: #222;
    box-shadow: none;
}

.hbspt-form label {
    margin: 30px 0 5px;
    display: block;
    font-weight: bold;
}

.hbspt-form .hs-error-msgs {
    display: block;
    list-style-type: none;
    padding: 5px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 5px 0 10px;
    font-weight: bold;
}

.hbspt-form .hs-error-msgs label {
    margin: 0;
    font-size: 12px;
}

.hbspt-form .actions {
    margin-top: 2.143rem;
}

.hbspt-form input[type="submit"] {
    color: #fff;
    background-color: #00b4f0;
    border: 0px;
    max-width: 180px;
    margin: 0px auto;
}

.hbspt-form input[type="submit"]:hover {
    background-color: #25c9ff;
}

.hbspt-form .multi-container {
    margin-left: 0;
    list-style-type: none;
}

.hbspt-form .multi-container li {
    float: left;
    margin-right: 20px;
    width: 29%;
    box-sizing: border-box;
}

.hbspt-form .multi-container:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.hbspt-form .multi-container input {
    position: absolute;
    top: 4px;
}

.hbspt-form .multi-container label {
    font-weight: normal;
    margin: 5px 0;
    position: relative;
}

.hbspt-form .multi-container label span {
    margin-left: 20px;
    display: inline-block;
}

.hs-form-required {
    font-weight: bold;
    color: #00b4f0;
}

.hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}
/* EO Hubspot form */

/* Bottom Actions */
.bottom-action-container {
    padding: 1.4rem 0;
    text-align: center;
}

.vaadin-theme a.w-button.dark {
    background: #323232;
    color: #fff;
    border: 2px solid #565656;
}

.vaadin-theme a.w-button.dark:hover,
.vaadin-theme a.w-button.dark:focus {
    background: #000;
}

.vaadin-theme .bottom-action-container a.w-button {
    display: inline-block;
    padding: .6em 2.7em;
}
/* EO Bottom Actions */
