/* General Fixes */

#vaadintopbar {
    min-height: 91px;
    background-color: transparent;
}

#vaadintopbar #topitems #topnav a.selected::after {
    color: #041a25;
    top: 36px;
}

.vaadin-theme #wrapper {
    margin-top: 0px;
}

.zebra .w-wallpaper {
    background-color: #f3f3f3;
}

/* EO General Fixes */

/* Index Hero */

#vaadintopbar {
    min-height: 91px;
    background-color: transparent;
}

#vaadintopbar #topitems #topnav a.selected::after {
    color: #041a25;
    top: 36px;
}

.vaadin-theme #wrapper {
    margin-top: 0px;
}

.elements-hero .w-wallpaper {
    background: #1eb5ed url('../img/hero-bg.png') center top no-repeat;
}

.elements-hero-buttons .w-wallpaper {
    background-color: #323232;
}

.elements-hero {
    padding: 100px 0 2.5rem 0;
    color: #fff;
    text-align: center;
}

.elements-hero .elements-hero-title h1 {
    margin: 0px 0px 5px;
    color: #fff;
}

.elements-hero p.lead {
    font-size: 1.7rem;
    line-height: 1.5;
    margin: 1.5em auto;
    max-width: 30em;
}

.elements-hero-buttons .button {
    display: block;
    padding: 14px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #565656;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
    margin: 1.6rem 0;
}

.elements-hero-buttons .button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.3s;
}

.elements-hero-buttons .button:focus {
    text-decoration: none;
    color: #fff;
}

.elements-hero-buttons .primary {
    background-color: #40b527;
    color: #fff;
    border: 0;
    padding: 16px;
}

.elements-hero-buttons .primary:hover {
    background-color: #5dd742;
}

.polymer-tag.polymer-tag {
    color: #648A9D;
    display: block;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    background: #1e313b url('../img/p-logo.png') right center no-repeat;
    background-size: 32px;
    margin-bottom: 5px;
    text-decoration: none;
}

.elements-hero-title .polymer-tag {
    margin: 1.5rem 0;
}

.polymer-tag.polymer-tag:focus,
.polymer-tag.polymer-tag:active,
.polymer-tag.polymer-tag:hover {
    text-decoration: none;
    color: #7EA4B7;
}

.polymer-tag.polymer-tag-inline {
    display: inline-block;
    padding-right: 3.1em;
}

.polymer-tag.polymer-tag-white {
    background-color: #fff;
}

@media (max-width: 795px) {
    .elements-hero .w-wallpaper {
        background-size: 966px;
    }
}

@media (min-width: 796px) {
    .elements-hero {
        min-height: 450px;
    }
}

@media (max-width: 767px) {
    .elements-hero .w-wallpaper {
        background-size: 768px;
    }
}

@media (max-width: 522px) {
    .elements-hero p.lead {
        font-size: 1.4rem;
    }
}

/* EO Index Hero */

/* Index Listing */

.elements-category {
    padding: 3.3rem 0 20px;
}

.elements-category .row-fluid {
    border: 2px solid #e1e1e1;
    border-width: 2px 0;
}

.elements-category .span9 {
    padding: 20px 0;
}

.elements-category .span9 h5 {
    margin: 0 0 10px;
}

.elements-category .span9 h5 span {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #9b9b9b;
    letter-spacing: normal;
}

.elements-category .span3 {
    background-color: #f7f7f7;
    padding: 20px;
}

.elements-category.zebra .span3 {
    background-color: #f9f9f9;
}

.elements-category .span3 span {
    font-weight: bold;
    font-size: 20px;
    color: #00b4f0;
    text-transform: uppercase;
    display: block;
}

.elements-category .span3 a {
    margin-top: 35px;
}

.elements-category-tiles .row-fluid .span6:nth-child(odd) {
    margin-left: 0;
}

.elements-category-tiles .row-fluid .span4:nth-child(3n+1) {
    margin-left: 0;
}

.elements-category-tiles .tile {
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

.elements-category-tiles .tile-details {
    text-align: center;
    background-color: #eaeaea;
    color: #464440;
    padding: 1rem;
    transition: all .25s;
}

.elements-category-core-tiles .tile-details {
    height: 12.5rem;
}

.elements-category-charts-tiles .tile-details {
    height: 10.5rem;
}

.elements-category-tiles a:hover .tile-details {
    background-color: #323232;
    color: #fff;
}

.elements-category-tiles .tile-version {
    margin-bottom: .8em;
}

.elements-category-tiles .tile-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.elements-category-tiles .tile-title:first-child {
    margin-top: .5em;
}

.elements-category-tiles .tile-description {
    line-height: 1.2;
}

.elements-category-tiles.signup-form {
    margin-top: 3em;
    text-align: center;
}

.elements-category-tiles.signup-form h3 {
    font-size: 1.45rem;
}

.elements-category-tiles.signup-form .hbspt-form {
    padding: 0;
}

/*@media(max-width: 1024px) {

}*/

/* EO Index Listing */

/* Template Hero */

.elements-hero-mini .w-wallpaper {
    background: #041a25 url('../img/hero-bg-mini.png') center center no-repeat;
    background-size: cover;
}

.elements-hero-mini {
    padding: 60px 0 60px 0;
    color: #fff;
}

.elements-hero-mini .elements-hero-title {
    border-bottom: 2px solid #3a5360;
}

.elements-hero-mini .elements-hero-title h5 {
    margin: 10px 0;
}

.elements-hero-mini .elements-hero-title h5 a {
    color: #fff;
}

.elements-hero-mini .elements-hero-title h5 a:hover,
.elements-hero-mini .elements-hero-title h5 a:focus {
    color: #fff;
    text-decoration: none;
}

.elements-hero-mini .elements-hero-title h5 a:after {
    content: "Back to listing";
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #648a9d;
    margin-left: 10px;
    opacity: 0;
    transition: 0.3s all;
}

.elements-hero-mini .elements-hero-title h5 a:hover:after {
    opacity: 1;
    transition: 0.3s all;
}

.elements-hero-mini h1 {
    margin: 10px 0 0;
    color: #fff;
}

.elements-hero-mini h1 span {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft YaHei New", "Microsoft Yahei", "SimSun", "STXihei", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #648a9d;
    letter-spacing: normal;
}

@media (max-width: 767px) {
    .elements-hero-mini .elements-hero-title h5 {
        font-size: 20px;
        background: transparent url("../img/p-logo.png") no-repeat scroll right 6px;
        background-size: 32px auto;
    }
}

/* EO Template Hero */

/* Template Intro */

.elements-intro {
    padding: 60px 0;
}

.elements-intro .w-wallpaper {
    background-color: #f3f3f3;
}

.elements-intro p.lead {
    font-size: 20px;
}

.elements-install {
    padding: 20px;
    background-color: #e5e5e5;
    border-radius: 4px;
    margin-bottom: 10px;
}

.elements-install h4 {
    margin: 0;
}

.elements-install code {
    white-space: normal;
}

.elements-intro a.w-arrow-button.github {
    margin-top: 10px;
    background: #648A9D;
    color: #fff;
}

/* EO Template Intro */

/* Template Section */

.elements-section {
    margin: 60px 0 0;
}

.elements-section h4 {
    margin: 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e1e1e1;
}

.elements-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.elements-section ul li {
    margin-bottom: 10px;
    padding-left: 1em;
    text-indent: -.7em;
}

.elements-section li:before {
    content: "• ";
    color: #648a9d;
    font-size: 16px;
}

.elements-section h5 {
    margin-top: 80px;
    font-size: 18px;
}

.elements-section input,
.elements-section input[type='text'] {
    border: none !important;
    margin: 0;
    padding: 0;
}

.elements-section .label-and-input-container {
    line-height: 24px;
}

.elements-section .label-and-input-container label {
    line-height: 30px;
}

.elements-section .column-hiding-toggle.hidden {
    display: block;
    visibility: visible;
}

.charts-links {
    margin-top: 60px;
}

.charts-links a {
    margin-bottom: 12px;
}

/* EO Template Section */

/* Demo Footer */

.elements-demos {
    color: #fff;
    padding: 60px 0;
    margin-top: 60px;
}

.elements-demos .w-wallpaper {
    background-color: #041a25;
}

.elements-demos h2 {
    font-size: 48px;
    color: #fff;
}

.elements-demos h5 {
    margin-top: 0;
}

.elements-demos p.lead {
    font-size: 20px;
}

.elements-demos-demo {
    padding: 20px 0;
    border-top: 2px solid #194c66;
}

.elements-demos-demo .span4 div {
    padding: 20px 0 20px 20px;
}

.elements-demos-demo .w-arrow-button {
    margin: 10px 0;
}

.suggest-box {
    text-align: center;
}

@media (max-width: 767px) {
    .elements-demos-demo .span4 div {
        padding: 0;
    }
}

/* EO Demo Footer */

/*Hubspot form */

.hbspt-form {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}

.hbspt-form input[type="text"],
.hbspt-form input[type="password"],
.hbspt-form input[type="email"],
.hbspt-form input[type="tel"],
.hbspt-form input[type="file"],
.hbspt-form input[type="submit"],
.hbspt-form input[type="button"],
.hbspt-form input[type="reset"],
.hbspt-form select,
.hbspt-form textarea,
.hbspt-form .textarea,
.hbspt-form button {
    background: #fff;
    border: 2px solid #ddd;
    color: #444;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    min-height: 40px;
    width: 100%;
    display: block;
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.hbspt-form input:focus,
.hbspt-form input:focus:invalid:focus {
    border: 2px solid #ccc;
    color: #222;
    box-shadow: none;
}

.hbspt-form label {
    margin: 30px 0 5px;
    display: block;
    font-weight: bold;
}

.hbspt-form .hs-error-msgs {
    display: block;
    list-style-type: none;
    padding: 5px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 5px 0 10px;
    font-weight: bold;
}

.hbspt-form .hs-error-msgs label {
    margin: 0;
    font-size: 12px;
}

.hbspt-form .actions {
    margin-top: 2.143rem;
}

.hbspt-form input[type="submit"] {
    color: #fff;
    background-color: #00b4f0;
    border: 0px;
    max-width: 180px;
    margin: 0px auto;
}

.hbspt-form input[type="submit"]:hover {
    background-color: #25c9ff;
}

.hbspt-form .multi-container {
    margin-left: 0;
    list-style-type: none;
}

.hbspt-form .multi-container li {
    float: left;
    margin-right: 20px;
    width: 29%;
    box-sizing: border-box;
}

.hbspt-form .multi-container:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.hbspt-form .multi-container input {
    position: absolute;
    top: 4px;
}

.hbspt-form .multi-container label {
    font-weight: normal;
    margin: 5px 0;
    position: relative;
}

.hbspt-form .multi-container label span {
    margin-left: 20px;
    display: inline-block;
}

.hs-form-required {
    font-weight: bold;
    color: #00b4f0;
}

.hs-form fieldset.form-columns-1 .hs-input {
    width: 100%;
}
